body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.cart {
    float: right;
    margin-right: 10px;
}

.product-list {
    flex-basis: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.picture{
    object-fit: contain;
    transform: translate(-100px, -50px);
    height: 200px;
    object-fit: cover;
}
img{
    position: relative; /* Hoặc absolute tùy mục đích */
    transform: translate(-100px, -50px);
    height: 300px;
    object-fit: cover;
}
.product {
    overflow: hidden;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.checkout {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
